*{
  font-family: 'Open Sans';
}

body{
  background-size: cover;
}

.nav-item{
  margin-left: 40px;
}
  
.nav-link{
  color: #3b3b3b;
}

.nav-link:hover{
  color: #009492;
}
    
  .profile{
    margin-right: 30px;
    color: #239A94;
    font-weight: bold;
  }

  .kotakprofile{
    width: 800px;
    margin: 10px auto;
    padding: 60px 20px;
    background-color: #F8F8F8;
    border-radius: 10px;
}

.kotaktext{
    font-size: 15px;
    margin:5px;
}

.col-md-4 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.col-md-8{
    color: #A1A1A1;
}


.custom-file{
    margin: 20px;
    width: 200px;
    font-size: 13px;
}

.namaconsultant{
    font-size: 25px;
    color: #239A94;
    font-weight: bold;
}

.form_edit_profile_consultant{
	box-sizing : border-box;
	width: 100%;
	text-indent: 10px;
	padding: 10px;
	font-size: 10pt;
	border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}

.btn.btn-set {
  background-color: #009492;
  width: 30%;
  color: white;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

.btn.btn-set:hover {
  background-color: #00cecb;
  color: white;
}

.patientcard{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #3b3b3b;
}