*{
    font-family: 'Open Sans';
  }
  
  body{
      background: url("assets/BG ABU.jpg") no-repeat fixed center ;
      background-size: cover;
  }
  
  a:hover{
    color: #239A94;
  }
  .navbar-brand{
    margin:10px;
  }
  .nav-item{
    margin-left: 40px;
  }
    
  .nav-link{
    color: black;
    margin : 10px;
    font-weight: 500;
  }
    
  .profile{
    margin-right: 30px;
    color: #239A94;
    font-weight: bold;
  }

  .kotakprofile{
    width: 800px;
    margin: 10px auto;
    padding: 60px 20px;
    background-color: #F8F8F8;
    border-radius: 10px;
}

.kotaktext{
    font-size: 15px;
    margin:5px;
}

.col-md-4 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.col-md-8{
    color: #A1A1A1;
}


.btn{
    border-radius: 20px;
    background: #239A94;
    padding-left: 25px;
    padding-right: 25px;
    margin-top : 20px;
    margin-left : 410px;
    border:none;
    font-weight: bold;
}

.btn:hover{
    background: #A1A1A1;
}

.custom-file{
    margin: 20px;
    width: 200px;
    font-size: 13px;
}

.namaconsultant{
    font-size: 25px;
    color: #239A94;
    font-weight: bold;
}

.form_edit_profile_consultant{
	box-sizing : border-box;
	width: 100%;
	text-indent: 10px;
	padding: 10px;
	font-size: 10pt;
	border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}