*{
    font-family: 'Open Sans';
}

body{
    background-size: cover;
}

.nav-item{
    margin-left: 40px;
}
    
.nav-link{
    color: #3b3b3b;
}

.nav-link:hover{
    color: #009492;
}
    
.profile{
    color: #009492;
    margin-right: 30px;
}

.btn.btn-login {
    background-color: #009492;
    color: white;
}

.btn.btn-login:hover {
    background-color: #009492;
    color: white;
}

.tulisan{
    text-align: center;
    margin-top: 40px;
}

.card{
    margin: 10px auto;
    padding: 60px 20px;
    width: 700px;
    border: 0;
}

.modal-title{
    color: #009492;
}

.modal-body{
    color: #009492;
}

.tulisan {
    font-size: 20px;
    font-style: italic;
    color: #3b3b3b;
    line-height: 12px;
}

.carousel-item{
    text-align: center;
}

.lore{
    margin-left: 15%;
    margin-right: 15%;
    font-size: 15px;
    text-align: justify;
    text-indent: 50px;
}

.carousel-control-prev{
    margin-left: 18%;
}

.carousel-control-next{
    margin-right: 18%;
}
