*{
    font-family: 'Open Sans';
  }
  
  body{
      background: url("assets/BG ABU.jpg") no-repeat fixed center ;
      background-size: cover;
  }
  
  a:hover{
    color: #239A94;
  }
  .navbar-brand{
    margin:10px;
  }
  .nav-item{
    margin-left: 40px;
  }
    
  .nav-link{
    color: black;
    margin : 10px;
    font-weight: 500;
  }
    
  .profile{
    margin-right: 30px;
    color: #239A94;
    font-weight: bold;
  }
 
.kotaktext{
    font-size: 15px;
    margin:5px;
}

 .btn:hover{
    background: #A1A1A1;
}


 

/*  */

.kotakprofile{
    width: 800px;
    margin: 10px auto;
    padding: 60px 20px;
    background-color: #F8F8F8;
    }
    
    .col-md-4 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
    
    .col-md-8{
    color: #A1A1A1;
    }
    
    .namaconsultant{
    color: black;
    font-weight: bold;
    }
    
    form{
    margin-left: 925px;
    }
    
    .btn{
    border-radius: 20px;
    background: #239A94;
    font-weight: bold;
    }